In [4]:
# import physical dataset
from preprocess_data import get_HITL, clean_HITL

hitl_dict = get_HITL("../../data/HardwareInTheLoop/", small=True)
_, df_physical = clean_HITL(hitl_dict) # Clean-up helper function

print("Network dataset shape: ", df_physical.shape)

Network dataset shape:  (9206, 44)

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df_physical

,time,tank_1,tank_2,tank_3,tank_4,tank_5,tank_6,tank_7,tank_8,pump_1,...,valv_16,valv_17,valv_18,valv_19,valv_20,valv_21,valv_22,label_n,label,attack
0,1.630780e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,normal,1
1,1.630780e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,normal,1
2,1.630780e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,normal,1
3,1.630780e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,normal,1
4,1.630780e+09,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0.0,normal,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9201,1.630758e+09,4,1037,7,452,300,432,80,0,1,...,0,0,0,0,1,0,0,0.0,normal,0
9202,1.630758e+09,3,1059,7,439,296,431,88,0,1,...,0,0,0,0,1,0,0,0.0,normal,0
9203,1.630758e+09,4,1091,8,429,291,431,96,0,1,...,0,0,0,0,1,0,0,0.0,normal,0
9204,1.630758e+09,4,1131,8,417,288,421,96,0,1,...,0,0,0,0,1,0,0,0.0,normal,0
9205,1.630758e+09,4,1135,7,404,282,421,112,0,1,...,0,0,0,0,1,0,0,0.0,normal,0

In [9]:
# column names
df_physical.columns

Index(['time', 'tank_1', 'tank_2', 'tank_3', 'tank_4', 'tank_5', 'tank_6',
       'tank_7', 'tank_8', 'pump_1', 'pump_2', 'pump_3', 'pump_4', 'pump_5',
       'pump_6', 'flow_sensor_1', 'flow_sensor_2', 'flow_sensor_3',
       'flow_sensor_4', 'valv_1', 'valv_2', 'valv_3', 'valv_4', 'valv_5',
       'valv_6', 'valv_7', 'valv_8', 'valv_9', 'valv_10', 'valv_11', 'valv_12',
       'valv_13', 'valv_14', 'valv_15', 'valv_16', 'valv_17', 'valv_18',
       'valv_19', 'valv_20', 'valv_21', 'valv_22', 'label_n', 'label',
       'attack'],
      dtype='object')

In [13]:
# correlation matrix
numerical_cols = df_physical.select_dtypes(include=[np.number]).columns
corr_matrix = df_physical[numerical_cols].corr()

# remove columns with high correlation
corr_matrix = corr_matrix.abs()
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]
df_physical = df_physical.drop(columns=to_drop)
df_physical.columns

Index(['time', 'tank_1', 'tank_2', 'tank_3', 'tank_4', 'tank_5', 'tank_6',
       'tank_7', 'tank_8', 'pump_1', 'pump_2', 'pump_3', 'pump_4', 'pump_5',
       'pump_6', 'flow_sensor_3', 'flow_sensor_4', 'valv_1', 'valv_2',
       'valv_3', 'valv_4', 'valv_5', 'valv_6', 'valv_7', 'valv_8', 'valv_9',
       'valv_10', 'valv_13', 'valv_16', 'valv_17', 'valv_18', 'valv_19',
       'valv_20', 'valv_21', 'valv_22', 'label_n', 'label', 'attack'],
      dtype='object')

In [15]:
df_physical.shape

(9206, 38)

In [16]:
df_physical

,time,tank_1,tank_2,tank_3,tank_4,tank_5,tank_6,tank_7,tank_8,pump_1,...,valv_16,valv_17,valv_18,valv_19,valv_20,valv_21,valv_22,label_n,label,attack
0,1.630780e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,normal,1
1,1.630780e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,normal,1
2,1.630780e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,normal,1
3,1.630780e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,normal,1
4,1.630780e+09,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0.0,normal,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9201,1.630758e+09,4,1037,7,452,300,432,80,0,1,...,0,0,0,0,1,0,0,0.0,normal,0
9202,1.630758e+09,3,1059,7,439,296,431,88,0,1,...,0,0,0,0,1,0,0,0.0,normal,0
9203,1.630758e+09,4,1091,8,429,291,431,96,0,1,...,0,0,0,0,1,0,0,0.0,normal,0
9204,1.630758e+09,4,1131,8,417,288,421,96,0,1,...,0,0,0,0,1,0,0,0.0,normal,0
9205,1.630758e+09,4,1135,7,404,282,421,112,0,1,...,0,0,0,0,1,0,0,0.0,normal,0